<!DOCTYPE html>
<html lang="en"
      dir="rtl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/fragments/core_layout.html">
<head>
    <title th:text="#{course.page.title}"></title>
    <script>
        $(document).ready(function () {
            $("select").select2();
        });
    </script>
</head>
<body>

<main layout:fragment="mainContent" class="px-md-4">
    <div>
        <h5 th:text="#{course.page.title} + ' _ ' + #{main.form}"></h5>

        <hr class="my-4">

        <form th:action="@{/course/save}" th:object="${entityObject}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{insertedAt}">
            <div class="row g-3">
                <div class="col-sm-4">
                    <label class="form-label" for="courseGrp" th:text="#{course.grp.page.title}"></label>
                    <select class="form-select" id="courseGrp" th:field="*{prCourseGrp}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="cg : ${courseGrps}" th:value="${cg.id}" th:text="${cg.prTitle}"
                                th:selected="${entityObject.getPrCourseGrp() != null && entityObject.getPrCourseGrp() == cg}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('prCourseGrp')}"
                           th:text="#{course.validate.prCourseGrp}"></small>
                </div>

                <div class="col-sm-4">
                    <label for="ltTitle" class="form-label" th:text="#{main.field.ltTitle}"></label>
                    <input type="text" class="form-control" id="ltTitle" placeholder="" value=""
                           th:field="*{ltTitle}">
                    <small class="text-danger " th:if="${#fields.hasErrors('ltTitle')}"
                           th:text="#{main.validation.ltTitle}"></small>
                </div>

                <div class="col-sm-4">
                    <label for="prTitle" class="form-label" th:text="#{main.field.prTitle}"></label>
                    <input type="text" class="form-control" id="prTitle" placeholder="" value=""
                           th:field="*{prTitle}">
                    <small class="text-danger" th:if="${#fields.hasErrors('prTitle')}"
                           th:text="#{main.validation.prTitle}"></small>
                </div>

                <div class="col-sm-4">
                    <label for="descr" class="form-label" th:text="#{main.field.descr}"></label>
                    <textarea class="form-control" id="descr" placeholder="" value=""
                              th:field="*{descr}" rows="4" cols="100"></textarea>
                </div>
            </div>

            <hr class="my-4">

            <button class="btn btn-primary" type="submit" th:text="#{main.btn.save}"></button>
            <a class="btn btn-secondary" th:href="@{/course}" th:text="#{main.btn.cancel}"></a>
            <hr class="my-4">
        </form>
    </div>
</main>

</body>
</html>