<!DOCTYPE html>
<html lang="en"
      dir="rtl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/fragments/core_layout.html">
<head>
    <title th:text="#{plan.page.title}"></title>
</head>
<body>

<main layout:fragment="mainContent" class="px-md-4">
    <h5 th:text="#{plan.page.title}"></h5>
    <div class="table-responsive" >
        <form action="#" th:action="@{/plans/search}" th:object="${searchplans}" method="post" >
            <input type="hidden" th:field="*{id}">
            <table class="table table-bordered border-primary-subtle table-hover"  >
                <thead>
                <tr class="table-primary">
                    <th scope="col" th:text="#{main.field.row}"></th>
                    <th scope="col" th:text="#{orgUnit.field.title}"></th>
                    <th scope="col" th:text="#{course.grp.page.title}"></th>
                    <th scope="col" th:text="#{course.page.title}"></th>
                    <th scope="col" th:text="#{person.field.master.fname}"></th>
                    <th scope="col" th:text="#{person.field.master.lname}"></th>
                    <th scope="col" th:text="#{plan.field.phase}"></th>
                    <th scope="col" th:text="#{plan.field.status}"></th>
                    <th scope="col" th:text="#{plan.field.edu}"></th>
                    <th scope="col" th:text="#{plan.field.project}"></th>
                    <th scope="col" th:text="#{plan.field.holding}"></th>
                    <th scope="col" th:text="#{plan.field.title}"></th>
                    <th scope="col" th:text="#{main.field.date}"></th>
<!--                    <th scope="col" th:text="#{plan.field.to.date}"></th>-->
                    <th  style="width: 6em;" scope="col">
                        <a th:href="@{/plans/new}"
                           th:attr="title=#{main.btn.new}">
                            <svg class="bi">
                                <use xlink:href="#new-list"/>
                            </svg>
                        </a>
                        <a th:href="@{/plans/export-to-excel}"
                           th:attr="title=#{main.btn.excel}">
                            <svg class="bi">
                                <use xlink:href="#download-list"/>
                            </svg>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        <input type="text" class="form-control" th:id="orgUnit" placeholder="" th:field="*{orgUnit.title}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="prCourseGrp" placeholder="" th:field="*{prCourse.prCourseGrp.prTitle}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="prCourse" placeholder="" th:field="*{prCourse.prTitle}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="fname" placeholder="" th:field="*{person.fname}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="lname" placeholder="" th:field="*{person.lname}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="elementPhase" placeholder="" th:field="*{elementPhase.prTitle}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="elementStatus" placeholder="" th:field="*{elementStatus.prTitle}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="elementEdu" placeholder="" th:field="*{elementEdu.prTitle}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="elementProject" placeholder="" th:field="*{elementProject.prTitle}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="elementHolding" placeholder="" th:field="*{elementHolding.prTitle}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="title" placeholder="" th:field="*{title}">
                    </td>
                    <td>
                        <div class="input-group date-pick-inp">
                            <span class="cursor-pointer" id="fromDate">📅</span>
                            <input type="text" class="form-control"
                                   placeholder="" value=""
                                   id="prFromDate"
                                   th:field="*{prFromDate}">
                            <input type="hidden" class="form-control"
                                   placeholder="" value=""
                                   id="ltFromDate"
                                   th:field="*{ltFromDate}">
                            <input type="hidden" id="ltFromDateJS" th:field="*{ltFromDate}">
                        </div>
                    </td>
<!--                    <td>-->
<!--                        <div class="input-group date-pick-inp" :hidden="toDateFromDate == '0'">-->
<!--                            <span class="cursor-pointer" id="toDate">📅</span>-->
<!--                            <input type="text" class="form-control"-->
<!--                                   placeholder="" value=""-->
<!--                                   id="prToDate"-->
<!--                                   th:field="*{prToDate}">-->
<!--                            <input type="hidden" class="form-control"-->
<!--                                   placeholder="" value=""-->
<!--                                   id="ltToDate"-->
<!--                                   th:field="*{ltToDate}">-->
<!--                            <input type="hidden" id="ltToDateJS" th:field="*{ltToDate}">-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>
                        <label th:attr="title=#{main.btn.search}" style="cursor: pointer;">
                            <input type="submit" name="action" th:value="${0}" style="display: none;">
                            <svg class="bi">
                                <use xlink:href="#search-list"/>
                            </svg>
                        </label>
                        <label th:attr="title=#{main.btn.search.excel}" style="cursor: pointer;">
                            <input type="submit" name="action" th:value="${-1000}" style="display: none;">
                            <svg class="bi">
                                <use xlink:href="#download-list"/>
                            </svg>
                        </label>
<!--                        <button type="submit"-->
<!--                                name="action"-->
<!--                                th:value="${0}"-->
<!--                                th:attr="title=#{main.btn.search}">-->
<!--                            <svg class="bi">-->
<!--                                <use xlink:href="#search-list"/>-->
<!--                            </svg>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                name="action"-->
<!--                                th:value="${-1000}"-->
<!--                                th:attr="title=#{main.btn.search.excel}">-->
<!--                            <svg class="bi">-->
<!--                                <use xlink:href="#download-list"/>-->
<!--                            </svg>-->
<!--                        </button>-->
                        <a th:href="@{/plans}"
                           th:attr="title=#{main.btn.clear}">
                            <svg class="bi">
                                <use xlink:href="#clear-list"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr th:each="plan, rowStat  : ${planss}">
                    <td th:text="${rowStat.count +(currentPage * pageSize)}"></td>
                    <td th:text="${plan.orgUnit != null ? plan.orgUnit.title : ''}"></td>
                    <td th:text="${plan.prCourse != null ? plan.prCourse.prCourseGrp.prTitle : ''}"></td>
                    <td th:text="${plan.prCourse != null ? plan.prCourse.prTitle : ''}"></td>
                    <td th:text="${plan.person != null ? plan.person.fname : ''}"></td>
                    <td th:text="${plan.person != null ? plan.person.lname : ''}"></td>
                    <td th:text="${plan.elementPhase != null ? plan.elementPhase.prTitle : ''}"></td>
                    <td th:text="${plan.elementStatus != null ? plan.elementStatus.prTitle : ''}"></td>
                    <td th:text="${plan.elementEdu != null ? plan.elementEdu.prTitle : ''}"></td>
                    <td th:text="${plan.elementProject != null ? plan.elementProject.prTitle : ''}"></td>
                    <td th:text="${plan.elementHolding != null ? plan.elementHolding.prTitle : ''}"></td>
                    <td th:text="${plan.title}"></td>
                    <td style="direction: ltr" th:text="${plan.prFromDate}"></td>
<!--                    <td style="direction: ltr" th:text="${plan.prToDate}"></td>-->
                    <td>
                        <a th:attr="title=#{main.btn.edit}"
                           th:href="@{/plans/edit/{id}(id=${plan.id})}">
                            <svg class="bi">
                                <use xlink:href="#edit-list"/>
                            </svg>
                        </a>
                        <a th:href="@{/plans/delete/{id}(id=${plan.id})}"
                           th:attr="title=#{main.btn.delete}"
                           th:data-confirm-delete="|#{main.validation.delete}|"
                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                            <svg class="bi">
                                <use xlink:href="#delete-list"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:switch="${searchFlag}">
                <nav aria-label="Page navigation" th:case="0">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                            <a class="page-link"
                               th:href="${'/plans?page=' + #strings.toString(currentPage - 1)}"
                               th:text="#{main.btn.previous}"></a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${currentPage == i ? 'active' : ''}">
                            <a class="page-link"
                               th:href="${'/plans?page=' + #strings.toString(i)}"
                               th:text="${i + 1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == (totalPages - 1)} ? 'disabled' : ''">
                            <a class="page-link"
                               th:href="${'/plans?page=' + #strings.toString(currentPage + 1)}"
                               th:text="#{main.btn.next}"></a>
                        </li>
                    </ul>
                </nav>

                <nav aria-label="Page navigation" th:case="1">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                            <button class="page-link" type="submit" name="action"
                                    th:value="${#strings.toString(currentPage - 1)}"
                                    th:text="#{main.btn.previous}"></button>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, (totalPages - 1) )}"
                            th:classappend="${currentPage == i ? 'active' : ''}">
                            <button class="page-link" type="submit" name="action" th:value="${#strings.toString(i)}"
                                    th:text="${i + 1}"
                            th:if="${( i + 1) > 0}"></button>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == (totalPages - 1) || currentPage == totalPages} ? 'disabled' : ''">
                            <button class="page-link" type="submit" name="action"
                                    th:value="${#strings.toString(currentPage + 1)}"
                                    th:text="#{main.btn.next}"></button>
                        </li>
                    </ul>
                </nav>

            </div>
        </form>
    </div>
</main>

</body>
</html>