<!DOCTYPE html>
<html lang="en"
      dir="rtl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/fragments/core_layout.html">
<head>
    <title th:text="#{plan.page.title}"></title>
</head>
<body>

<main layout:fragment="mainContent" class="px-md-4">
<!--    <div class="col-md-7 col-lg-8">-->
    <div>
        <h5 th:text="#{plan.page.title} + ' _ ' + #{main.form}"></h5>

        <hr class="my-4">

        <form th:action="@{/plans/saveovr}" th:object="${entityObject}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{insertedAt}">
            <input type="hidden" th:field="*{meetings}">
            <div class="row g-3">
                <div class="col-sm-4">
                    <label class="form-label" for="orgUnit" th:text="#{orgUnit.page.title}"></label>
                    <select class="form-select" id="orgUnit" th:field="*{orgUnit}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="ou : ${orgUnits}" th:value="${ou.id}" th:text="${ou.title}"
                                th:selected="${entityObject.getOrgUnit() != null && entityObject.getOrgUnit() == ou}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('orgUnit')}"
                           th:text="#{orgUnitPostPerson.validate.orgUnit}"></small>
                </div>

                <div class="col-sm-4">
                    <label class="form-label" for="prCourse" th:text="#{course.page.title}"></label>
                    <select class="form-select" id="prCourse" th:field="*{prCourse}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="co : ${courses}" th:value="${co.id}" th:text="${co.prTitle}"
                                th:selected="${entityObject.getPrCourse() != null && entityObject.getPrCourse() == co}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('prCourse')}"
                           th:text="#{course.validate.prCourse}"></small>
                </div>

                <div class="col-sm-4">
                    <label class="form-label" for="person" th:text="#{plan.field.teacher}"></label>
                    <select class="form-select" id="person" th:field="*{person}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="pe : ${persons}" th:value="${pe.id}"
                                th:text="${pe.fname} + ' _ ' + ${pe.lname}"
                                th:selected="${entityObject.getPerson() != null && entityObject.getPerson() == pe}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('person')}"
                           th:text="#{plan.validate.teacher}"></small>
                </div>

                <div class="col-sm-4">
                    <label class="form-label" for="elementType" th:text="#{plan.field.type}"></label>
                    <select class="form-select" id="elementType" th:field="*{elementType}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="et : ${elementTypes}" th:value="${et.id}" th:text="${et.prTitle}"
                                th:selected="${entityObject.getElementType() != null && entityObject.getElementType() == et}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('elementType')}"
                           th:text="#{plan.validate.type}"></small>
                </div>

                <div class="col-sm-4">
                    <label class="form-label" for="elementStatus" th:text="#{plan.field.status}"></label>
                    <select class="form-select" id="elementStatus" th:field="*{elementStatus}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="et : ${elementStatus}" th:value="${et.id}" th:text="${et.prTitle}"
                                th:selected="${entityObject.getElementStatus() != null && entityObject.getElementStatus() == et}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('elementStatus')}"
                           th:text="#{plan.validate.status}"></small>
                </div>

                <div class="col-sm-4">
                    <label class="form-label" for="elementEdu" th:text="#{plan.field.edu}"></label>
                    <select class="form-select" id="elementEdu" th:field="*{elementEdu}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="et : ${elementEdu}" th:value="${et.id}" th:text="${et.prTitle}"
                                th:selected="${entityObject.getElementEdu() != null && entityObject.getElementEdu() == et}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('elementEdu')}"
                           th:text="#{plan.validate.edu}"></small>
                </div>

                <div class="col-sm-4">
                    <label class="form-label" for="elementProject" th:text="#{plan.field.project}"></label>
                    <select class="form-select" id="elementProject" th:field="*{elementProject}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="et : ${elementProject}" th:value="${et.id}" th:text="${et.prTitle}"
                                th:selected="${entityObject.getElementProject() != null && entityObject.getElementProject() == et}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('elementProject')}"
                           th:text="#{plan.validate.project}"></small>
                </div>

                <div class="col-sm-4">
                    <label class="form-label" for="elementHolding" th:text="#{plan.field.holding}"></label>
                    <select class="form-select" id="elementHolding" th:field="*{elementHolding}">
                        <option value="" th:text="#{main.btn.select}"></option>
                        <option th:each="et : ${elementHolding}" th:value="${et.id}" th:text="${et.prTitle}"
                                th:selected="${entityObject.getElementHolding() != null && entityObject.getElementHolding() == et}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('elementHolding')}"
                           th:text="#{plan.validate.holding}"></small>
                </div>

<!--                <div class="col-sm-4">-->
<!--                    <label for="title" class="form-label" th:text="#{plan.field.title}"></label>-->
<!--                    <input type="text" class="form-control" id="title" placeholder="" value=""-->
<!--                           th:field="*{title}">-->
<!--                    <small class="text-danger " th:if="${#fields.hasErrors('title')}"-->
<!--                           th:text="#{main.validation.title}"></small>-->
<!--                </div>-->

                <div class="col-sm-4">
                    <label for="planLink" class="form-label" th:text="#{plan.field.link}"></label>
                    <input type="text" class="form-control" id="planLink" placeholder="" value=""
                           th:field="*{planLink}">
<!--                    <small class="text-danger " th:if="${#fields.hasErrors('planLink')}"-->
<!--                           th:text="#{main.validation.link}"></small>-->
                </div>

                <div class="col-sm-4" :hidden="inLine == '1' && modalMode == '0'">
                    <label for="fromDate" class="form-label" th:text="#{orgUnitPostPerson.field.from.date}"></label>
                    <div class="input-group mb-3 date-pick-inp">
                        <span class="input-group-text cursor-pointer" id="fromDate">📅</span>
                        <input type="text" class="form-control"
                               placeholder="" value=""
                               id="prFromDate"
                               th:field="*{prFromDate}">
                        <input type="hidden" class="form-control"
                               placeholder="" value=""
                               id="ltFromDate"
                               th:field="*{ltFromDate}">
                        <input type="hidden" id="ltFromDateJS" th:field="*{ltFromDate}">
                    </div>
                    <small class="text-danger" th:if="${#fields.hasErrors('ltFromDate')}"
                           th:text="#{orgUnitPostPerson.validate.from.date}"></small>
                </div>

                <div class="col-sm-4" :hidden="inLine == '1' && modalMode == '0'">
                    <label for="toDate" class="form-label" th:text="#{orgUnitPostPerson.field.to.date}"></label>
                    <div class="input-group mb-3 date-pick-inp" :hidden="toDateFromDate == '0'">
                        <span class="input-group-text cursor-pointer" id="toDate">📅</span>
                        <input type="text" class="form-control"
                               placeholder="" value=""
                               id="prToDate"
                               th:field="*{prToDate}">
                        <input type="hidden" class="form-control"
                               placeholder="" value=""
                               id="ltToDate"
                               th:field="*{ltToDate}">
                        <input type="hidden" id="ltToDateJS" th:field="*{ltToDate}">
                    </div>
                    <small class="text-danger" th:if="${#fields.hasErrors('ltToDate')}"
                           th:text="#{plan.validate.toDate}"></small>
                    <small class="text-danger"
                           th:if="${#fields.hasErrors('validDateRange')}"
                           th:text="#{orgUnitPostPerson.validate.to.date}"></small>

                </div>

                <div class="col-sm-4">
                    <label for="meeting" class="form-label" th:text="#{meeting.field}"></label>
                    <input type="file" class="" id="meeting" th:name="file" multiple>
                    <small class="text-danger" th:if="${#fields.hasErrors('ltToDate')}"
                           th:text="#{plan.validate.toDate}"></small>
                </div>

            </div>

            <hr class="my-4">

            <button class="btn btn-primary" type="submit" th:text="#{main.btn.save}"></button>
            <a class="btn btn-secondary" th:href="@{/plans}" th:text="#{main.btn.cancel}"></a>
            <hr class="my-4">
        </form>
    </div>

    <div class="table-responsive small">
        <h6 th:text="#{meeting.field.page}"></h6>
        <table class="table table-bordered border-primary-subtle table-hover">
            <thead>
            <tr class="table-primary">
                <th scope="col" th:text="#{meeting.file.name}"></th>
                <th scope="col" th:text="#{meeting.file}"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="meet : ${meetings}">
                <td th:text="${meet.title}"></td>
                <td>
<!--                    <a th:href="@{/meeting/download/{id}(id=${meet.id})}"-->
<!--                       th:text="#{meeting.file.download}"-->
<!--                    ></a>-->

                    <a th:href="@{/meeting/download/{id}(id=${meet.id})}"
                       th:attr="title=#{meeting.file.download}">
                        <svg class="bi">
                            <use xlink:href="#download-list"/>
                        </svg>
                    </a>
                </td>
                <td>
<!--                    <a class="btn btn-outline-danger"-->
<!--                       style="&#45;&#45;bs-btn-padding-y: .25rem; &#45;&#45;bs-btn-padding-x: .5rem; &#45;&#45;bs-btn-font-size: .55rem;"-->
<!--                       th:href="@{/meeting/deleted/{id}(id=${meet.id})}"-->
<!--                       th:text="#{main.btn.delete}"-->
<!--                       th:data-confirm-delete="|#{main.validation.delete}|"-->
<!--                       onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"-->
<!--                    ></a>-->

                    <a th:href="@{/meeting/deleted/{id}(id=${meet.id})}"
                       th:attr="title=#{main.btn.delete}"
                       th:data-confirm-delete="|#{main.validation.delete}|"
                       onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                        <svg class="bi">
                            <use xlink:href="#delete-list"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="my-4">
    </div>

    <div class="table-responsive small">
        <!--        <form action="#" th:action="@{/attendance/search}" th:object="${searchattendance}" method="post">-->
        <!--            <input type="hidden" th:field="*{id}">-->
        <h6 th:text="#{attendance.page.table.title}"></h6>
        <table class="table table-bordered border-primary-subtle table-hover">
            <thead>
            <tr class="table-primary">
                <th scope="col" th:text="#{person.field.fname}"></th>
                <th scope="col" th:text="#{person.field.lname}"></th>
                <th scope="col" th:text="#{attendance.field.status}"></th>
                <th scope="col" th:text="#{plan.page.title}"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attend : ${attendances}">
                <td th:text="${attend.person != null ? attend.person.fname : ''}"></td>
                <td th:text="${attend.person != null ? attend.person.lname : ''}"></td>
                <td th:text="${attend.element != null ? attend.element.prTitle : ''}"></td>
                <td th:text="${attend.plan != null ? attend.plan.title : ''}"></td>
                <td>
<!--                    <a class="btn btn-outline-primary"-->
<!--                       style="&#45;&#45;bs-btn-padding-y: .25rem; &#45;&#45;bs-btn-padding-x: .5rem; &#45;&#45;bs-btn-font-size: .55rem;"-->
<!--                       th:href="@{/attendance/edit/{id}(id=${attend.id})}" th:text="#{main.btn.edit}"></a>-->
<!--                    <a class="btn btn-outline-danger"-->
<!--                       style="&#45;&#45;bs-btn-padding-y: .25rem; &#45;&#45;bs-btn-padding-x: .5rem; &#45;&#45;bs-btn-font-size: .55rem;"-->
<!--                       th:href="@{/attendance/delete/{id}(id=${attend.id})}"-->
<!--                       th:text="#{main.btn.delete}"-->
<!--                       th:data-confirm-delete="|#{main.validation.delete}|"-->
<!--                       onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"-->
<!--                    ></a>-->
                    <a th:attr="title=#{main.btn.edit}"
                       th:href="@{/attendance/edit/{id}(id=${attend.id})}">
                        <svg class="bi">
                            <use xlink:href="#edit-list"/>
                        </svg>
                    </a>
                    <a th:href="@{/attendance/delete/{id}(id=${attend.id})}"
                       th:attr="title=#{main.btn.delete}"
                       th:data-confirm-delete="|#{main.validation.delete}|"
                       onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                        <svg class="bi">
                            <use xlink:href="#delete-list"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--            <div th:switch="${searchFlag}">-->
        <!--                <nav aria-label="Page navigation" th:case="0">-->
        <!--                    <ul class="pagination">-->
        <!--                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">-->
        <!--                            <a class="page-link"-->
        <!--                               th:href="${'/attendance?page=' + #strings.toString(currentPage - 1)}"-->
        <!--                               th:text="#{main.btn.previous}"></a>-->
        <!--                        </li>-->
        <!--                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"-->
        <!--                            th:classappend="${currentPage == i ? 'active' : ''}">-->
        <!--                            <a class="page-link"-->
        <!--                               th:href="${'/attendance?page=' + #strings.toString(i)}"-->
        <!--                               th:text="${i + 1}"></a>-->
        <!--                        </li>-->
        <!--                        <li class="page-item" th:classappend="${currentPage == (totalPages - 1)} ? 'disabled' : ''">-->
        <!--                            <a class="page-link"-->
        <!--                               th:href="${'/attendance?page=' + #strings.toString(currentPage + 1)}"-->
        <!--                               th:text="#{main.btn.next}"></a>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </nav>-->

        <!--                <nav aria-label="Page navigation" th:case="1">-->
        <!--                    <ul class="pagination">-->
        <!--                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">-->
        <!--                            <button class="page-link" type="submit" name="action"-->
        <!--                                    th:value="${#strings.toString(currentPage - 1)}"-->
        <!--                                    th:text="#{main.btn.previous}"></button>-->
        <!--                        </li>-->
        <!--                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"-->
        <!--                            th:classappend="${currentPage == i ? 'active' : ''}">-->
        <!--                            <button class="page-link" type="submit" name="action" th:value="${#strings.toString(i)}"-->
        <!--                                    th:text="${i + 1}"></button>-->
        <!--                        </li>-->
        <!--                        <li class="page-item" th:classappend="${currentPage == (totalPages - 1)} ? 'disabled' : ''">-->
        <!--                            <button class="page-link" type="submit" name="action"-->
        <!--                                    th:value="${#strings.toString(currentPage + 1)}"-->
        <!--                                    th:text="#{main.btn.next}"></button>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </nav>-->

        <!--            </div>-->
        <!--        </form>-->
        <hr class="my-4">
    </div>
</main>

</body>
</html>