<!DOCTYPE html>
<html lang="en"
      dir="rtl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/fragments/core_layout.html">
<head>
    <title th:text="#{post.field.title}"></title>
</head>
<body>

<main layout:fragment="mainContent" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="col-md-7 col-lg-8">
        <h5 th:text="#{post.field.title} + ' _ ' + #{main.form}"></h5>

        <hr class="my-4">

        <form th:action="@{/orgpost/save}" th:object="${entityObject}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{insertedAt}">
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="title" class="form-label" th:text="#{main.field.title}"></label>
                    <input type="text" class="form-control" id="title" placeholder="" value=""
                           th:field="*{title}">
                    <small class="text-danger " th:if="${#fields.hasErrors('title')}"
                           th:text="#{main.validation.title}"></small>
                </div>

                <div class="col-md-3">
                    <label for="code" class="form-label" th:text="#{main.field.code}"></label>
                    <input type="text" class="form-control" id="code" placeholder="" value=""
                           th:field="*{code}">
                </div>

                <div class="col-md-3">
                    <label for="descr" class="form-label" th:text="#{main.field.descr}"></label>
                    <textarea class="form-control" id="descr" placeholder="" value=""
                              th:field="*{descr}" rows="4" cols="100"></textarea>
                </div>
            </div>

            <hr class="my-4">

            <button class="btn btn-primary" type="submit" th:text="#{main.btn.save}"></button>
            <a class="btn btn-secondary" th:href="@{/orgpost}" th:text="#{main.btn.cancel}"></a>
            <hr class="my-4">
        </form>
    </div>
</main>

</body>
</html>