<!DOCTYPE html>
<html lang="en"
      dir="rtl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/fragments/core_layout.html">
<head>
    <title th:text="#{person.page.title}"></title>
</head>
<body>

<main layout:fragment="mainContent" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h5 th:text="#{person.page.title}"></h5>
    <div class="table-responsive small">
        <form action="#" th:action="@{/person/search}" th:object="${searchperson}" method="post">
            <input type="hidden" th:field="*{id}">
            <table class="table table-bordered border-primary-subtle table-hover">
                <thead>
                <tr class="table-primary">
                    <th scope="col" th:text="#{person.field.fname}"></th>
                    <th scope="col" th:text="#{person.field.lname}"></th>
                    <th scope="col" th:text="#{person.field.father}"></th>
                    <th scope="col" th:text="#{person.field.nl.code}"></th>
                    <th scope="col" th:text="#{person.field.pr.code}"></th>
                    <th scope="col" th:text="#{person.field.tel}"></th>
                    <th scope="col">
                        <a class="btn btn-primary"
                           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .65rem;"
                           th:href="@{/person/newd}" th:text="#{main.btn.new}"></a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>
                        <input type="text" class="form-control" th:id="fName" placeholder="" th:field="*{fname}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="lName" placeholder="" th:field="*{lname}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="father" placeholder="" th:field="*{fatherName}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="nlCode" placeholder="" th:field="*{nlCode}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="prCode" placeholder="" th:field="*{prCode}">
                    </td>
                    <td>
                        <input type="text" class="form-control" th:id="tel" placeholder="" th:field="*{tel}">
                    </td>
                    <td>
                        <button class="btn btn-primary"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .55rem;"
                                type="submit"
                                name="action"
                                th:value="${0}"
                                th:text="#{main.btn.search}"></button>
                        <a class="btn btn-secondary"
                           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .55rem;"
                           th:href="@{/person}" th:text="#{main.btn.clear}"></a>
                    </td>


                </tr>
                <tr th:each="person : ${persons}">
                    <td th:text="${person.fname}"></td>
                    <td th:text="${person.lname}"></td>
                    <td th:text="${person.fatherName}"></td>
                    <td th:text="${person.nlCode}"></td>
                    <td th:text="${person.prCode}"></td>
                    <td th:text="${person.tel}"></td>
                    <td>
                        <a class="btn btn-outline-primary"
                           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .55rem;"
                           th:href="@{/person/editd/{id}(id=${person.id})}" th:text="#{main.btn.edit}"></a>
                        <a class="btn btn-outline-danger"
                           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .55rem;"
                           th:href="@{/person/delete/{id}(id=${person.id})}"
                           th:text="#{main.btn.delete}"
                           th:data-confirm-delete="|#{main.validation.delete}|"
                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                        ></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <!--        <nav aria-label="Page navigation">-->
            <!--            <ul class="pagination">-->
            <!--                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">-->
            <!--                    <a class="page-link" th:href="${searchFlag == 0 ? '/person?page=' + #strings.toString(currentPage - 1) : '/person/search?page=' + #strings.toString(currentPage - 1)}" th:text="#{main.btn.previous}"></a>-->
            <!--                </li>-->
            <!--                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i ? 'active' : ''}">-->
            <!--                    <a class="page-link" th:href="${searchFlag == 0 ? '/person?page=' + #strings.toString(i) : '/person/search?page=' + #strings.toString(i)}" th:text="${i + 1}"></a>-->
            <!--                </li>-->
            <!--                <li class="page-item" th:classappend="${currentPage == (totalPages - 1)} ? 'disabled' : ''">-->
            <!--                    <a class="page-link" th:href="${searchFlag == 0 ? '/person?page=' + #strings.toString(currentPage + 1) : '/person/search?page=' + #strings.toString(currentPage + 1) }" th:text="#{main.btn.next}"></a>-->
            <!--                </li>-->
            <!--            </ul>-->
            <!--        </nav>-->
            <div th:switch="${searchFlag}">
                <nav aria-label="Page navigation" th:case="0">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                            <a class="page-link"
                               th:href="${'/person?page=' + #strings.toString(currentPage - 1)}"
                               th:text="#{main.btn.previous}"></a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${currentPage == i ? 'active' : ''}">
                            <a class="page-link"
                               th:href="${'/person?page=' + #strings.toString(i)}"
                               th:text="${i + 1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == (totalPages - 1)} ? 'disabled' : ''">
                            <a class="page-link"
                               th:href="${'/person?page=' + #strings.toString(currentPage + 1)}"
                               th:text="#{main.btn.next}"></a>
                        </li>
                    </ul>
                </nav>

                <nav aria-label="Page navigation" th:case="1">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                            <button class="page-link" type="submit" name="action"
                                    th:value="${#strings.toString(currentPage - 1)}"
                                    th:text="#{main.btn.previous}"></button>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${currentPage == i ? 'active' : ''}">
                            <button class="page-link" type="submit" name="action" th:value="${#strings.toString(i)}"
                                    th:text="${i + 1}"></button>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == (totalPages - 1)} ? 'disabled' : ''">
                            <button class="page-link" type="submit" name="action"
                                    th:value="${#strings.toString(currentPage + 1)}"
                                    th:text="#{main.btn.next}"></button>
                        </li>
                    </ul>
                </nav>

            </div>
        </form>
    </div>
</main>

</body>
</html>