<!DOCTYPE html>
<html lang="en"
      dir="rtl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/fragments/core_layout.html">
<head>
    <title th:text="#{person.page.title}"></title>
</head>
<body>

<main layout:fragment="mainContent" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="col-md-7 col-lg-8">
        <h5 th:text="#{person.page.title} + ' _ ' + #{main.form}"></h5>

        <hr class="my-4">

        <form th:action="@{/person/save}" th:object="${person}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="fName" class="form-label" th:text="#{person.field.fname}"></label>
                    <input type="text" class="form-control" id="fName" placeholder="" value="" required
                           th:field="*{fname}">
                    <small class="text-body-secondary" th:if="${#fields.hasErrors('fname')}" th:text="#{person.validate.fname}"></small>
                </div>

                <div class="col-md-3">
                    <label for="lName" class="form-label" th:text="#{person.field.lname}"></label>
                    <input type="text" class="form-control" id="lName" placeholder="" value="" required
                           th:field="*{lname}">
                    <small class="text-body-secondary" th:if="${#fields.hasErrors('lname')}" th:text="#{person.validate.lname}"></small>
                </div>

                <div class="col-md-3">
                    <label for="father" class="form-label" th:text="#{person.field.father}"></label>
                    <input type="text" class="form-control" id="father" placeholder="" value=""
                           th:field="*{fatherName}">
                    <small class="text-body-secondary" th:if="${#fields.hasErrors('fatherName')}" th:text="#{person.validate.fname}"></small>
                </div>

                <div class="col-md-3">
                    <label for="nlCode" class="form-label" th:text="#{person.field.nl.code}"></label>
                    <input type="text" class="form-control" id="nlCode" placeholder="" value=""
                           th:field="*{nlCode}">
                    <small class="text-body-secondary" th:if="${#fields.hasErrors('nlCode')}" th:text="#{person.validate.nlCode}"></small>
                </div>

                <div class="col-md-3">
                    <label for="prCode" class="form-label" th:text="#{person.field.pr.code}"></label>
                    <input type="text" class="form-control" id="prCode" placeholder="" value=""
                           th:field="*{prCode}">
                    <small class="text-body-secondary" th:if="${#fields.hasErrors('prCode')}" th:text="#{person.validate.prCode}"></small>
                </div>

                <div class="col-md-3">
                    <label for="tel" class="form-label" th:text="#{person.field.tel}"></label>
                    <input type="text" class="form-control" id="tel" placeholder="" value=""
                           th:field="*{tel}">
                    <small class="text-body-secondary" style="--bs-btn-font-size: .55rem;"  th:if="${#fields.hasErrors('tel')}" th:text="#{person.validate.tel}"></small>
                </div>

                <div class="col-md-3">
                    <label th:text="#{role.field.title}"></label>
                    <div th:each="role : ${roles}">
                        <input type="checkbox" th:id="'role_' + ${role.id}" th:name="'roles'" th:value="${role.id}"
                               th:checked="${person.getPersonRoles() != null ?  person.getPersonRoles().contains(role) : false}"/>
                        <label th:for="'role_' + ${role.id}" th:text="${role.prTitle}"></label><br/>
                    </div>

                    <small class="text-body-secondary" th:if="${rolesFlag == 1}" th:text="#{role.validate}"></small>

                </div>

            </div>

            <hr class="my-4">

            <button class="btn btn-primary" type="submit" th:text="#{main.btn.save}"></button>
<!--            <button class="w-50 btn btn-primary btn-lg" type="submit" th:text="#{main.btn.save}"></button>-->
            <a class="btn btn-secondary" th:href="@{/person}" th:text="#{main.btn.cancel}"></a>
            <hr class="my-4">
        </form>
    </div>
</main>

</body>
</html>