<!DOCTYPE html>
<html lang="en"
      dir="rtl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/fragments/core_layout.html">
<head>
    <title th:text="#{person.page.title}"></title>

</head>
<body>

<main layout:fragment="mainContent" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="col-md-7 col-lg-8">
        <h5 th:text="#{person.page.title} + ' _ ' + #{main.form}"></h5>

        <hr class="my-4">

        <form th:action="@{/person/saveovr}" th:object="${entityObject}" method="post">
            <input type="hidden" th:field="*{personWrapper.id}">
            <input type="hidden" th:field="*{personWrapper.insertedAt}">
            <input type="hidden" th:field="*{personWrapper.orgUnitPostPersons}">
            <input type="hidden" th:field="*{personWrapper.personRoles}">
            <input type="hidden" th:field="*{orgUnitPostPersonWrapper.id}">
            <input type="hidden" th:field="*{orgUnitPostPersonWrapper.person.id}">
            <input type="hidden" th:field="*{orgUnitPostPersonWrapper.insertedAt}">
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="fName" class="form-label" th:text="#{person.field.fname}"></label>
                    <input type="text" class="form-control" id="fName" placeholder="" value=""
                           th:field="*{personWrapper.fname}">
                    <small class="text-danger " th:if="${#fields.hasErrors('personWrapper.fname')}"
                           th:text="#{person.validate.fname}"></small>
                </div>

                <div class="col-md-3">
                    <label for="lName" class="form-label" th:text="#{person.field.lname}"></label>
                    <input type="text" class="form-control" id="lName" placeholder="" value=""
                           th:field="*{personWrapper.lname}">
                    <small class="text-danger" th:if="${#fields.hasErrors('personWrapper.lname')}"
                           th:text="#{person.validate.lname}"></small>
                </div>

                <div class="col-md-3">
                    <label for="father" class="form-label" th:text="#{person.field.father}"></label>
                    <input type="text" class="form-control" id="father" placeholder="" value=""
                           th:field="*{personWrapper.fatherName}">
                    <small class="text-danger" th:if="${#fields.hasErrors('personWrapper.fatherName')}"
                           th:text="#{person.validate.fname}"></small>
                </div>

                <div class="col-md-3">
                    <label for="nlCode" class="form-label" th:text="#{person.field.nl.code}"></label>
                    <input type="text" class="form-control" id="nlCode" placeholder="" value=""
                           th:field="*{personWrapper.nlCode}">
                    <small class="text-danger" th:if="${#fields.hasErrors('personWrapper.nlCode')}"
                           th:text="#{person.validate.nlCode}"></small>
                </div>

                <div class="col-md-3">
                    <label for="prCode" class="form-label" th:text="#{person.field.pr.code}"></label>
                    <input type="text" class="form-control" id="prCode" placeholder="" value=""
                           th:field="*{personWrapper.prCode}">
                    <small class="text-danger" th:if="${#fields.hasErrors('personWrapper.prCode')}"
                           th:text="#{person.validate.prCode}"></small>
                </div>

                <div class="col-md-3">
                    <label for="tel" class="form-label" th:text="#{person.field.tel}"></label>
                    <input type="text" class="form-control" id="tel" placeholder="" value=""
                           th:field="*{personWrapper.tel}">
                    <small class="text-danger" style="--bs-btn-font-size: .55rem;"
                           th:if="${#fields.hasErrors('personWrapper.tel')}" th:text="#{person.validate.tel}"></small>
                </div>

                <div class="col-md-3">
                    <label th:text="#{role.field.title}"></label>
                    <div th:each="role : ${roles}">
                        <input type="checkbox" th:id="'role_' + ${role.id}" th:name="'roles'" th:value="${role.id}"
                               th:checked="${(entityObject.personWrapper.getPersonRoles() != null ?  entityObject.personWrapper.getPersonRoles().contains(role) : false)
                               || (rolesId != null ?  rolesId.contains(role.id) : false)}"/>
                        <label th:for="'role_' + ${role.id}" th:text="${role.prTitle}"></label><br/>
                    </div>
                    <small class="text-danger" th:if="${rolesFlag == 1}" th:text="#{role.validate}"></small>
                </div>

                <div class="col-12">
                    <label class="form-label" for="post" th:text="#{post.field.title}"></label>
                    <select class="form-select" id="post" th:field="*{orgUnitPostPersonWrapper.orgPost}">
                        <option value="" th:text="#{main.btn.select}">-- Select an option --</option>
                        <option th:each="post : ${posts}" th:value="${post.id}" th:text="${post.title}"
                                th:selected="${entityObject.orgUnitPostPersonWrapper.getOrgPost() != null && entityObject.orgUnitPostPersonWrapper.getOrgPost() == post}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('orgUnitPostPersonWrapper.orgPost')}"
                           th:text="#{orgUnitPostPerson.validate.orgPost}"></small>
                </div>

                <div class="col-12">
                    <label class="form-label" for="orgUnit" th:text="#{orgUnit.field.title}"></label>
                    <select class="form-select" id="orgUnit" th:field="*{orgUnitPostPersonWrapper.orgUnit}">
                        <option value="" th:text="#{main.btn.select}">-- Select an option --</option>
                        <option th:each="ou : ${orgUnits}" th:value="${ou.id}" th:text="${ou.title}"
                                th:selected="${entityObject.orgUnitPostPersonWrapper.getOrgUnit() != null && entityObject.orgUnitPostPersonWrapper.getOrgUnit() == ou}"></option>
                    </select>
                    <small class="text-danger" th:if="${#fields.hasErrors('orgUnitPostPersonWrapper.orgUnit')}"
                           th:text="#{orgUnitPostPerson.validate.orgUnit}"></small>
                </div>
                <div class="col-12" :hidden="inLine == '1' && modalMode == '0'">
                    <label for="fromDate" class="form-label" th:text="#{orgUnitPostPerson.field.from.date}"></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text cursor-pointer" id="fromDate">📅</span>
                        <input style="direction: ltr" type="text" class="form-control"
                               placeholder="" value=""
                               id="prFromDate"
                               th:field="*{orgUnitPostPersonWrapper.prFromDate}">
                        <input type="hidden" class="form-control"
                               placeholder="" value=""
                               id="ltFromDate"
                               th:field="*{orgUnitPostPersonWrapper.ltFromDate}">
                        <input type="hidden" id="ltFromDateJS" th:field="*{orgUnitPostPersonWrapper.ltFromDate}">
                    </div>
                    <small class="text-danger" th:if="${#fields.hasErrors('orgUnitPostPersonWrapper.ltFromDate')}"
                           th:text="#{orgUnitPostPerson.validate.from.date}"></small>
                    <small class="text-danger" th:if="${fromDateFlag == 1}"
                           th:text="#{orgUnitPostPerson.validate.from.date.range}"></small>
                </div>

                <div class="col-12" :hidden="inLine == '1' && modalMode == '0'">
                    <label for="toDate" class="form-label" th:text="#{orgUnitPostPerson.field.to.date}"></label>
                    <div class="input-group mb-3" :hidden="toDateFromDate == '0'">
                        <span class="input-group-text cursor-pointer" id="toDate">📅</span>
                        <input style="direction: ltr" type="text" class="form-control"
                               placeholder="" value=""
                               id="prToDate"
                               th:field="*{orgUnitPostPersonWrapper.prToDate}">
                        <input type="hidden" class="form-control"
                               placeholder="" value=""
                               id="ltToDate"
                               th:field="*{orgUnitPostPersonWrapper.ltToDate}">
                        <input type="hidden" id="ltToDateJS" th:field="*{orgUnitPostPersonWrapper.ltToDate}">
                    </div>
                    <small class="text-danger"
                           th:if="${#fields.hasErrors('orgUnitPostPersonWrapper.validDateRange')}"
                           th:text="#{orgUnitPostPerson.validate.to.date}"></small>

                </div>

            </div>

            <hr class="my-4">

            <button class="btn btn-primary" type="submit" th:text="#{main.btn.save}"></button>
            <a class="btn btn-secondary" th:href="@{/person}" th:text="#{main.btn.cancel}"></a>
            <hr class="my-4">
        </form>
    </div>

    <h6 th:text="#{post.field.titles}"></h6>
    <div class="table-responsive small">
        <table class="table table-bordered border-primary-subtle table-hover">
            <thead>
            <tr class="table-primary">
                <th scope="col" th:text="#{orgUnit.field.title}"></th>
                <th scope="col" th:text="#{post.field.title}"></th>
                <th scope="col" th:text="#{orgUnitPostPerson.field.from.date}"></th>
                <th scope="col" th:text="#{orgUnitPostPerson.field.to.date}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="oup : ${orgUnitsPosts}">
                <td th:text="${oup.orgUnit.title}"></td>
                <td th:text="${oup.orgPost.title}"></td>
                <td style="direction: ltr" th:text="${oup.prFromDate}"></td>
                <td style="direction: ltr" th:text="${oup.prToDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="my-4">
</main>
</body>
</html>